<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>미니미 인증</title>
</head>
<body>
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">미니미 메일인증</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base" >메일인증을 완료해주세요</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
            <div class="flex flex-wrap -m-2">
                <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
                    <p th:text="${authCode}" class="sm:text-6xl text-indigo-500">인증코드가 안보일 시 연락요망</p>
                    <p class="leading-normal my-5">
                        위 인증코드를 입력해주세요!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
